---
# CSS
---
@charset "utf-8";

$primary-color:     #00C7FF;
$secondary-color:   #0089B0;
$grey-color:        #828282;
$light-grey:        #EDEDED;
$dark-grey:         #BBBBBB;

$base-font-family:  "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
$base-font-size:    16px;
$small-font-size:   $base-font-size * 0.875;
$base-line-height:  1.5;

$spacing-unit:      30px;
$content-width:     800px;
$on-palm:           600px;
$on-laptop:         800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

* {
    font-family: $base-font-family;
    margin: 0px;
    padding: 0px;
}

a {
    border-bottom: 1px solid $light-grey;
    color: $primary-color;
    font-weight: 400;
    text-decoration: none;
}

a:hover, a:focus {
    color: $secondary-color;
    border-color: $dark-grey;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-weight: 300;
}

p, blockquote, ul, ol {
    margin-bottom: 1.5em;
}

.page-content {
    margin-top: 50px;
}

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#navigation {
    border-top: 3px solid $primary-color;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#navigation-toggle {
    margin-right: 25px;
    margin-top: 22px;
    position: absolute;
    right: 0;
    top: 0;
}

.logo {
    height: 30px;
}

#navigation-dropdown {
    border-left: 1px solid $light-grey;
    bottom: 0;
    display: block;
    margin-right: -100px;
    margin-top: 3px;
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 70px;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1.055);
}

#navigation-toggle:hover > #navigation-dropdown {
    margin-right: 0px;
}

#about {
    margin-top: 125px;
    text-align: center;
}

#about a, #about p {
    font-size: 22px;
}

#about p {
    font-weight: 300;
    margin: 20px 0px;
}

#posts {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-content {
    margin: $spacing-unit 0px;
}
